body {
  background-color: #0b0b0b;
  font-family: Arial;
  margin: 1rem;
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #ffeb97;
}

.logo {
  text-align: center;
}

.titulo {
  color: #ffffff;
  text-align: center;
}

.subtitulo {
  color: #ffcf00;
  text-align: center;
}

.paragrafo-normal {
  color: #ffffff;
  text-align: justify;
}

.opcao {
  color: #ffcf00;
  text-align: left;
  text-size: 0.75rem;
}

.card {
  background-color: #ffeb97; /* mais visível */
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    text-align: left;
    transition: all 0.3s ease;
}

/* DIVS */

  /* PESQUISAR */

.pesquisar {
  margin-left: 0;
  color: #ffeb97;
  text-align: left;
}

  /* LOGIN */

.fazer-login {
  color: #ffcf00;
  text-align: left;
  padding: 
}

.fazer-login input {
  width: 25%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.fazer-login button {
  width: 5%;
  padding: 0.5rem;
  background-color: #ffeb97;
  color: #0b0b0b;
  border: none;
  cursor: pointer;
}

  /* AVALIAÇÃO */

.form-avaliacao {
  color: #ffffff;
  text-align: justify;
  padding: 2rem;
}

.rodape {
  color: #c0c0c0;
  font-family: Verdana;
  text-align: center;
  text-size: 0.5rem;
}
