body {
  background-color: #0b0b0b;
  font-family: Arial;
  margin: 0.5rem;
  padding: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #ffeb97;
}

.logo {
  text-align: center;
}

.titulo {
  color: #ffffff;
  text-align: center;
}

.subtitulo {
  color: #ffcf00;
  text-align: center;
}

.paragrafo-normal {
  color: #ffffff;
  text-align: justify;
}

.opcao {
  color: #ffcf00;
  text-align: left;
  text-size: 0.75rem;
}

.card {
  background-color: #ffeb97; /* mais visível */
  border: 1px solid #444;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;

  height: 300px;
  width: 220px;
  
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* DIVS */

  /* PESQUISAR */

.pesquisar {
  margin-left: 0;
  color: #ffeb97;
  text-align: left;
}

  /* LOGIN */

.login {
  background-image: url("../imagens/fundo-login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 2rem;
  padding: 0;
}

.login-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 8rem;
}

.login-logo img {
  max-width: 30%;
  height: auto;
}

.fazer-login {
  color: #0b0b0b;
  text-align: left;

  width: 30%;
  height: 100%;
  
  background-color: #ffcf00;

  display: flex;
  flex-direction: column;
  justify-content: center;   /* centraliza vertical */
  padding: 2rem;
  
  border: 1px solid #444;
  border-radius: 10px;

  box-shadow: 5px 5px 10px black;

}

.fazer-login a {
  color: #0b0b0b;
}

.fazer-login input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fazer-login button {
  width: 100%;
  padding: 0.5rem;
  background-color: #0b0b0b;
  color: #ffcf00;
  border: 1px solid #444;
  border-radius: 10px;
  cursor: pointer;
}

  /* AVALIAÇÃO */

.form-avaliacao {
  color: #ffffff;
  text-align: justify;
  padding: 2rem;
}

.rodape {
  color: #c0c0c0;
  font-family: Verdana;
  text-align: center;
  text-size: 0.5rem;
}
